
//@theme "/usr/share/rofi/themes/sidebar.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/Monokai.rasi"

//@theme "/home/wkhadgar/.local/share/rofi/themes/windows11-list-dark.rasi"

@theme "~/.config/rofi/themes/rounded-yellow-dark.rasi"
