* {
    bg0:    #0d0d0dF2;
    bg1:    #1a1a1a;
    bg2:    #1f1f1f;
    bg3:    #ffbf00;
    bg4:    #cc0000;
    fg0:    #eeeeee;
    fg1:    #ffbf00;
    fg2:    #666666;
    fg3:    #444444;
}

@import "~/.config/rofi/themes/template/magi-template-confirm.rasi"
